@{
    ViewData["Title"] = "Chart";
}


<div id="app">

</div>

@section Scripts
{
    <script src="~/js/signalr.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="~/js/test_6_api_vue.js"></script>
}
